## What is a for loop?

In [1]:
for x in range(7): 
    print(x)

0
1
2
3
4
5
6

In [2]:
friends = ['Taylor', 'Alex', 'Pat', 'Eli']
for friend in friends:
    print("Hi " + friend)

Hi Taylor
Hi Alex
Hi Pat
Hi Eli

In [3]:
values = [23,52,59,37,48]
sum = 0
length = 0
for value in values:
    sum += value
    length +=1
    
print("Total sum: " + str(sum) + " -Average: ", str(sum/length))

# Use for loops when there's a sequence of elements that you want to iterate. 
# Use while loops when you want to repeat an action until a condition changes.

Total sum: 219 -Average:  43.8

In [1]:
product = 1 
for n in range(1,10):
    product = product * n
    
print(product)

362880

In [2]:
def to_celsius(x):
    return (x-32)*5/9

for x in range(0,101,10):
    print(x, to_celsius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

In [3]:
for n in range(1, 9, 3):
    print(n)

1
4
7

In [4]:
for number in range(2,7+1):
    print(number*3)

6
9
12
15
18
21

In [5]:
for x in range(2, -2, -1):
    print(x)

2
1
0
-1

In [7]:
i = 20
while (i > 15):
    print(i)
    i = i - 1

20
19
18
17
16

In [10]:
name = ["Emrick Larson", "Estrella Ortiz", "Tori Shah"]
i = 1
while (i <= 3):
    print("Welcome, ", i)
    i = i + 1

Welcome,  1
Welcome,  2
Welcome,  3

In [11]:
name = ["Emrick Larson", "Estrella Ortiz", "Tori Shah"]
for i in name: 
    print("Welcome," , i)

Welcome, Emrick Larson
Welcome, Estrella Ortiz
Welcome, Tori Shah

In [12]:
attempt = 1
while (attempt <= 5):
    print("Try again.")
    attempt = attempt + 1

Try again.
Try again.
Try again.
Try again.
Try again.

In [13]:
for left in range(7):
    for right in range(left, 7):
        print("[" + str(left) + "|" + str(right) + "]", end=" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [14]:
teams = [ 'Dragons', 'Wolves', 'Pandas', 'Unicorns']
for home_team in teams:
    for away_team in teams:
        if home_team != away_team:
            print(home_team + " vs " + away_team)

Dragons vs Wolves
Dragons vs Pandas
Dragons vs Unicorns
Wolves vs Dragons
Wolves vs Pandas
Wolves vs Unicorns
Pandas vs Dragons
Pandas vs Wolves
Pandas vs Unicorns
Unicorns vs Dragons
Unicorns vs Wolves
Unicorns vs Pandas

In [1]:
greeting = 'Hello'
for char in greeting:
	print(char)

H
e
l
l
o

In [2]:
for i in range(len(greeting)):
    print(i)

0
1
2
3
4

In [3]:
greeting = "Hello"
index = 0
while index < len(greeting):
    print(greeting[index])
    index += 1

H
e
l
l
o

In [4]:
greeting = 'Hello'
index = 0
while index < len(greeting):
    print(greeting[index:index+1])
    index += 1

H
e
l
l
o

In [5]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = [x ** 2 for x in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]

In [6]:
string1 = "Greetings, Earthlings"
print(string1[0])   # Prints “G”
print(string1[4:8]) # Prints “ting”
print(string1[11:]) # Prints “Earthlings”
print(string1[:5])  # Prints “Greet”

G
ting
Earthlings
Greet

In [7]:
print(string1[-10:])

Earthlings

In [8]:
print(string1[55:])  # Prints “”

In [9]:
print(string1[0::2]) # Prints “Getns atlns”
print(string1[::-1]) # Prints “sgnilhtraE ,sgniteerG”

Getns atlns
sgnilhtraE ,sgniteerG

In [10]:
print("Hello" + " " + "world") #Prints “Hello world”

Hello world

In [11]:
greetings = ["Hello", "world"]
print(" ".join(greetings))  # Prints "Hello world"
# You can also concatenate a combination of strings and variables like in the following example.
name = "Alice"
print("Hello, " + name + "!")  # Prints "Hello, Alice!"

Hello world
Hello, Alice!

In [12]:
def format_phone(phonenum):
    area_code = "(" + phonenum[:3] + ")"
    exchange = phonenum[3:6]
    line = phonenum[-4:]
    return area_code + " " + exchange + "-" + line

In [13]:
print(format_phone("2025551212")) # Outputs: (202) 555-1212

(202) 555-1212

In [14]:
def greet_friends(friends):
    for friend in friends:
        print("Hi " + friend)

greet_friends(['Taylor', 'Luisa', 'Jamaal', 'Eli'])

Hi Taylor
Hi Luisa
Hi Jamaal
Hi Eli

In [15]:
def greet_friends(friends):
    for friend in friends:
        print("Hi " + friend)

greet_friends("Barry")

Hi B
Hi a
Hi r
Hi r
Hi y

### Note
- while loops are used when a segment of code needs to execute repeatedly while a condition is true
- for loops iterate over a sequence of elements, executing the body of the loop for each element in the sequence

In [16]:
for number in range(1, 6+1, 2):
    print(number * 3)

3
9
15

In [17]:
for number in range(2,8):
    print(number**2)

4
9
16
25
36
49

In [18]:
for x in range(2):
    print("This is the outer loop iteration number " + str(x))
    for y in range(3+1):
        print("Inner loop iteration number " + str(y))
    print("Exit inner loop")

This is the outer loop iteration number 0
Inner loop iteration number 0
Inner loop iteration number 1
Inner loop iteration number 2
Inner loop iteration number 3
Exit inner loop
This is the outer loop iteration number 1
Inner loop iteration number 0
Inner loop iteration number 1
Inner loop iteration number 2
Inner loop iteration number 3
Exit inner loop

In [19]:
for x in range(7):
    if x % 2 == 0:
        print(x)
even_numbers = [x for x in range(7) if x % 2 == 0]
print(even_numbers)

0
2
4
6
[0, 2, 4, 6]

In [20]:
for n in range(6,18,3):
    print(n*2)

12
18
24
30

In [21]:
for n in range(6,18,3):
    print(n+2)

8
11
14
17

In [22]:
for n in range(6,18,3):
    print(n+2)

8
11
14
17

In [23]:
for n in range(12,36,6):
    print(n*2)

24
36
48
60

In [24]:
for n in range(0,36+1,6):
    print(n)

0
6
12
18
24
30
36

In [25]:
for n in range(19):
    if n % 2 == 0:
        print(n)

0
2
4
6
8
10
12
14
16
18

In [26]:
for n in range(18+1):
    print(n**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324

In [27]:
for n in range(0,18+1,2):
    print(n*2)

0
4
8
12
16
20
24
28
32
36

In [28]:
for n in range(10):
    print(n+n)

0
2
4
6
8
10
12
14
16
18

In [29]:
input = "Four score and seven years ago"

In [30]:
for c in input:
    if c.lower() in ['a', 'e', 'i', 'o', 'u']:
        print(c)

o
u
o
e
a
e
e
e
a
a
o

In [31]:
print([c for c in input if c.lower() in ['a', 'e', 'i', 'o', 'u']])

['o', 'u', 'o', 'e', 'a', 'e', 'e', 'e', 'a', 'a', 'o']

In [32]:
print(input.count("aeiou"))

0

In [33]:
for c in range(len(input)):
    if c in ['a', 'e', 'i', 'o', 'u']:
        print(c)

In [34]:
for n in range(6,18+1,3):
    print(n*2)

12
18
24
30
36