In [1]:
def area_triangle(base, height):
    return base*height/2

In [2]:
area_a = area_triangle(5,4)
area_b = area_triangle(7,3)

sum = area_a + area_b
print("The sum of both areas is: " + str(sum))

The sum of both areas is: 20.5

In [3]:
def convert_seconds(seconds):
    hours = seconds // 3600
    minutes = (seconds - hours * 3600) // 60
    remaining_seconds = seconds - hours * 3600 - minutes * 60
    return hours, minutes, remaining_seconds

hours, minutes, seconds = convert_seconds(5000)
print(hours, minutes, seconds)

1 23 20

In [4]:
def greeting(name):
    print("Welcome," + name)

result = greeting("Tontan")
print(result)

Welcome,Tontan
None

In [5]:
base = 6
height = 3
area = (base*height)/2

print(area)

9.0

In [7]:
def area_triangle(base, height): 
    return base*height/2

area_a = area_triangle(5,4)
area_b = area_triangle(7,3)
sum = area_a + area_b 
print("The sum of both areas is :" + str(sum))

The sum of both areas is :20.5

In [9]:
def convert_seconds(seconds): 
    hours = seconds // 3600
    minutes = (seconds - hours * 3600) // 60
    remaining_seconds = seconds - hours * 3600 - minutes * 60
    return hours, minutes, remaining_seconds

hours, minutes, seconds = convert_seconds(5000)
print(hours, minutes, seconds) 

#That double slash operator is called floor division. A floor division divides a number and takes the integer part of the division as the result.

1 23 20

In [1]:
name = "Kay"
number = len(name) * 9 # len = len of string

print("Hello " + name + ". Your lucky number is " + str(number))

name = "Cameron"
number = len(name) * 9

print("Hello " + name + ". Your lucky number is " + str(number))

Hello Kay. Your lucky number is 27
Hello Cameron. Your lucky number is 63

In [2]:
def lucky_number(name): 
    number = len(name) * 3
    print("Hello " + name + ". Your lucky number is " + str(number))
    
lucky_number("Tontan")
lucky_number("Cambodia")

Hello Tontan. Your lucky number is 18
Hello Cambodia. Your lucky number is 24

In [3]:
def calculate(d): 
    q = 3.14
    z = q * (d**2)
    print(z)
    
calculate(7)

153.86

In [4]:
def circle_area(radius):
    pi = 3.14
    area = pi * (radius ** 2)
    print(area)

circle_area(5)

# Make sure that when we write code we should use self documenting code to make it more easy to read

78.5

In [5]:
def find_total_days(years, months, days): 
    my_days = (years*365) + (months*30) + days 
    return my_days

print(find_total_days(2,5,23))

903

In [6]:
def convert_volume(fluid_ounce): 
    ml = fluid_ounce * 29.5
    return ml
print("The volume in milliliters is " + str(convert_volume(2)))
print("The volume in milliliters is " + str(convert_volume(2)*2))

The volume in milliliters is 59.0
The volume in milliliters is 118.0

In [9]:
def convert_distance(km): 
    m = km * 1000
    return m

my_trip_kilometers = 55 
my_trip_meters = convert_distance(my_trip_kilometers)
print("The distance in meters is " + str(convert_distance(55)))

The distance in meters is 55000

In [10]:
def print_seconds(hours, minutes, seconds):
    print(hours*3600+minutes*60+seconds)

print_seconds(1,2,3)
#output will print to the screen

3723