## We will learn about String, list and Dictionary

In [2]:
name = "Sasha"
color = 'Gold'
print("Name: " + name + ", Favorite color: " + color)

Name: Sasha, Favorite color: Gold

In [3]:
"example" * 3

'exampleexampleexample'

In [4]:
pet = "loooooooooooooooooooooooooooooooog cat"
len(pet)

38

In [5]:
name = "Jaylen"
print(name[1])

a

In [6]:
name = "Jaylen"
print(name[0])

J

In [8]:
name = "Jaylen"
print(name[5])
print(name[3])

n
l

In [9]:
text = "Random string with a lot of characters"
print(text[-1])
print(text[-2])

s
r

In [10]:
color = "Orange"
color[1:4]

'ran'

In [11]:
fruit = "Pineapple"
print(fruit[:4])
print(fruit[4:])

Pine
apple

In [1]:
fruit = "Mangosteen"
fruit[1:4]

'ang'

In [2]:
fruit[:5] + fruit[5:]

'Mangosteen'

In [4]:
"system".index("y")

1

In [5]:
message = "A kong string with a silly typo"
new_message = message[0:2] + "l" + message[3:]
print(new_message)

A long string with a silly typo

In [6]:
message = "This is a new message"
print(message)
message = "And another one"
print(message)

This is a new message
And another one

In [7]:
pets="Cats & Dogs"
pets.index("&")
pets.index("C")
pets.index("Dog")
pets.index("s")

3

In [8]:
pets="Cats & Dogs"
"Dragons" in pets
"Cats" in pets

True

In [9]:
word = "supercalifragilisticexpialidocious"
print(word.index("x"))

21

In [10]:
def replace_domain(email, old_domain, new_domain):
    if "@" + old_domain in email:
        index = email.index("@" + old_domain)
        new_email = email[:index] + "@" + new_domain
        return new_email
    return email

In [11]:
animals = "lions tigers and bears"
animals.index("g")

8

In [12]:
animals = "lions tigers and bears"
animals.index("bears")

17

In [13]:
animals = "lions tigers and bears"
"horses" in animals

False

In [14]:
animals = "lions tigers and bears"
"tigers" in animals

True

In [15]:
"Mountains".upper()
"Mountains".lower()

'mountains'

In [16]:
answer = "YES"
if answer.lower() == "yes":
    print("User said yes")

User said yes

In [17]:
" yes ".strip()

'yes'

In [18]:
" yes ".strip()
" yes ".lstrip()
" yes ".rstrip()

' yes'

In [19]:
"The number of times e occurs in this string is 4".count("e")

4

In [20]:
"Forest".endswith("rest")

True

In [21]:
"Forest".isnumeric()
"12345".isnumeric()

True

In [22]:
int("12345") + int("54321")

66666

In [23]:
" ".join(["This", "is", "a", "phrase", "joined", "by", "spaces"])
"...".join(["This", "is", "a", "phrase", "joined", "by", "triple", "dots"])

'This...is...a...phrase...joined...by...triple...dots'

In [24]:
"This is another example".split()

['This', 'is', 'another', 'example']

In [25]:
name = "Manny"
number = len(name) * 3
print("Hello {}, your lucky number is {}".format(name, number))

Hello Manny, your lucky number is 15

In [26]:
name = "Manny"
print("Your lucky number is {number}, {name}.".format(name=name, number=len(name)*3))

Your lucky number is 15, Manny.

In [27]:
price = 7.5
with_tax = price * 1.09
print(price, with_tax)
print("Base price: ${:.2f}. With Tax: ${:.2f}".format(price, with_tax))

7.5 8.175
Base price: $7.50. With Tax: $8.18

In [28]:
def to_celsius(x):
    return (x-32)*5/9

for x in range(0,101,10):
    print("{:>3} F | {:>6.2f} C".format(x, to_celsius(x)))

  0 F | -17.78 C
 10 F | -12.22 C
 20 F |  -6.67 C
 30 F |  -1.11 C
 40 F |   4.44 C
 50 F |  10.00 C
 60 F |  15.56 C
 70 F |  21.11 C
 80 F |  26.67 C
 90 F |  32.22 C
100 F |  37.78 C

In [29]:
def student_grade(name, grade):
	return "{} received {}% on the exam".format(name, grade)

print(student_grade("Reed", 80))
print(student_grade("Paige", 92))
print(student_grade("Jesse", 85))

Reed received 80% on the exam
Paige received 92% on the exam
Jesse received 85% on the exam